apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: task-manager
  name: task-manager
spec:
  replicas: 2
  selector:
    matchLabels:
      app: task-manager
  strategy: {}
  template:
    metadata:
      labels:
        app: task-manager
    spec:
      containers:
      - image: pawanm2307/task-manager:latest
        name: task-manager
        imagePullPolicy: Always
        ports:
          -  containerPort: 3000
